@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for sticky footer */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); /* Creates the subtle white outline */
  text-stroke: 1px rgba(255, 255, 255, 0.5);
}


.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  text-stroke: 1px rgba(255, 255, 255, 0.5);
}

/* NEW CLASS for the dark outline on the light background */
.text-outline-dark {
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-stroke: 1px rgba(0, 0, 0, 0.2);
}

